---
export interface CardItem {
  icon: any; // Astro component
  title: string;
  description: string;
}

export interface Props {
  item: CardItem;
  className?: string;
  bgColor?: string;
  iconColor?: string;
  titleColor?: string;
  descriptionColor?: string;
}

const {
  item,
  className = "",
  bgColor = "bg-transparent",
  iconColor = "text-black",
  titleColor = "text-black",
  descriptionColor = "text-black",
} = Astro.props;
---

<div
  class={`${bgColor} rounded-xl p-8 text-center group ring-1 ring-neutral-200 hover:ring-neutral-300 transition-all duration-300 ${className}`}
>
  <div class="w-16 h-16 flex items-center justify-center mx-auto mb-6">
    <item.icon class={`size-16 ${iconColor}`} />
  </div>
  <h3 class={`text-xl font-header font-extrabold uppercase ${titleColor} mb-4`}>
    {item.title}
  </h3>
  <p class={descriptionColor}>{item.description}</p>
</div>
