---
import Card from "./Card.astro";
import { FEATURES } from "../consts/features";

export interface Props {
  titleColor?: string;
  descriptionColor?: string;
  // Card color props
  bgColor?: string;
  iconColor?: string;
  cardTitleColor?: string;
  cardDescriptionColor?: string;
}

const {
  titleColor = "text-black",
  descriptionColor = "text-black",
  bgColor = "bg-transparent",
  iconColor = "text-black",
  cardTitleColor = "text-black",
  cardDescriptionColor = "text-black",
} = Astro.props;
---

<div class="text-center mb-16">
  <h2
    class={`text-4xl md:text-5xl font-header uppercase font-extrabold ${titleColor} mb-4`}
  >
    Nuestras Características
  </h2>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
  {
    FEATURES.map((item) => (
      <Card
        item={item}
        bgColor={bgColor}
        iconColor={iconColor}
        titleColor={cardTitleColor}
        descriptionColor={cardDescriptionColor}
      />
    ))
  }
</div>
