---
import { VALUES } from "../consts/values";
import Card from "./Card.astro";

export interface Props {
  titleColor?: string;
  descriptionColor?: string;
  // Card color props
  bgColor?: string;
  borderColor?: string;
  iconColor?: string;
  cardTitleColor?: string;
  cardDescriptionColor?: string;
}

const {
  titleColor = "text-black",
  descriptionColor = "text-black",
  bgColor = "bg-transparent",
  borderColor = "ring-neutral-200 hover:ring-neutral-400",
  iconColor = "text-secondary",
  cardTitleColor = "text-secondary",
  cardDescriptionColor = "text-white",
} = Astro.props;
---

<div class="text-center mb-16">
  <h2
    class={`text-4xl md:text-5xl font-header uppercase font-extrabold ${titleColor} mb-4`}
  >
    Nuestros Valores
  </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
  {
    VALUES.map((item) => (
      <Card
        item={item}
        bgColor={bgColor}
        borderColor={borderColor}
        iconColor={iconColor}
        titleColor={cardTitleColor}
        descriptionColor={cardDescriptionColor}
      />
    ))
  }
</div>

<div class="text-center mt-20">
  <h2
    class={`text-3xl md:text-4xl font-header uppercase font-extrabold ${titleColor} mb-4`}
  >
    "Sin voluntad no hay camino"
  </h2>
</div>
